#parent-container {
  background-color: #5c2dd5;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-container {
  width: 480px;
  height: 435px;
  border-radius: 40px;
  background-color: #7945ff;
  border: 3px solid black;
  box-shadow: 0 10px 0 0 black;
  padding: 70px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.menu-header {
  margin-bottom: 70px;
  width: 100%;
  display: grid;
  place-items: center;
}

.menu-body {
  display: grid;
  place-items: center;
  width: 100%;
}
.menu-body > * {
  margin-bottom: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #menu-container {
    width: 100%;
    height: 435px;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
